*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    nav{
        margin-top: 5px;
    }
    nav a{
        text-decoration: none;
        color: black;
        font-size: large;
        padding: 10px;
    }
}